section {
	padding: 20px 0px 20px 0px !important;
}
.section-full {
	height: 100vh;
}

.section-pink {
	background-color: #EF476F;
	color: rgba(255,255,255,.9);
}	
.section-yellow {
	background-color: #FFD166;
}	
.section-green {
	background-color: #00BF8E;
}
.section-blue {
	background-color: #118AB2;
}

.section-text-banner {
	padding: 40px 0px 40px 0px !important;	
}